.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}
.TodoPane{
	position: absolute;
	height: 100%;
	width: 50%;
	top: 0;
	left: 0;
	background-color: pink;
}

.TaskPane{
	position: absolute;
	height: 100%;
	width: 50%;
	top: 0;
	right: 0;
	background-color: lightgreen;
}
