.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}
.sharedStyle {
	height: '1em',
};

.completedStyle  {
	text-decoration: line-through;
	color: lightgrey
};

.activeStyle {
		color: black,
};

.TodoPane {
	height: 80%;
	width: 80%;
	margin: 0 10%;
}

.TaskPane{
	height: 80%;
	width: 80%;
	margin: 0 10%;
}
.row {
	display: flex;
	flex-direction: row;
}
.column{
	align-items: center;
	flex-direction: column;
	display: flex;
}
.center{
	display: flex;
}
.text{
	align-items: center;
	width: 200px;
	padding-top: 12px;
	color: #7C95C0;
}
.size {
	width: 50px;
	height: 50px;
}
.header {
	justify-content: center;
	color: #676755;
	font-size: xxx-large;
}
