.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}
.sharedStyle {
	height: '1em',
};

.completedStyle  {
	font-size: x-large,
};

.activeStyle {
		color: black,
};

.TodoPane {
	height: 80%;
	width: 80%;
	margin: 10%;
}

.TaskPane{
	height: 80%;
	width: 80%;
	margin: 10%;
}
.row {
	display: flex;
	flex-direction: row;
}
.column{
	align-items: center;
	flex-direction: column;
	display: flex;
	gap: 10px;
}
.gap {
	row-gap: 30px
}
.input-column{
	display: grid;
	grid-template-columns: auto auto 20%;
}
.center{
	display: flex;
	justify-content: center;
}

